@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@if(Model is not null)
{
    @foreach(var product in Model)
    {
        <p>@product.UrlProduct</p>
        <img src="@product.UrlProduct" class="card-img-top" alt="@product.Title" />
    }
}
